*{
  margin: 0%;
  padding: 0%;
}
footer{
  position: fixed;
  background-color: rgb(3, 21, 99);
  width: 100%;
  height: 8vh;
  right: 0%;
  bottom: 0%;
}
footer h2{
  position: absolute;
  left: 45%;
  color: #fff;

  top: 30%;
}