.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 50%;
}

.btn-area{
    display: block;
    background: #7f2a4b;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    width: 150px;
    line-height: 30px;
    margin: 20px 370px ;
    border-radius: 20px;
}

#btnBox{
    display: none;
}

.btn{
    color: #fff;
    margin-top: 0;
}